.card {
    display:inline-block;
}



.table_row:hover {
    background-color:darkgray;
}

.edit {
    color: white;
    text-decoration: none;
}

.delete {
    color: white;
    text-decoration: none;
}

/* #main {
    width: 200px;
    border: 1px dotted black;
} */
/* .header {
    margin: 0;
      display: inline-block;
} */
/* #add_button {
    float: right;
} */

/* .card {
    
    width: 18rem;
} */

#flight_info {
    color: white;
    text-decoration: none;
}

.header {
    color:seagreen
}

/* .card-body {
    cursor: pointer;
} */

#reserve_flight {
    color:black
}

#back {
    color:black
}

.search-field {
    margin-right: 10px;
}

.search-button {
    margin-right:10px;
}

#confirmed-reservation {
    color:green;
}

#booking-number {
    color:blue;
}

.flight-schedule {
    color:green;
}

#prompt {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.error-message {
    color:red;
}